$primary-black: #000000; 
$avtar-bg: #D9D9D9;
$white: #fff;
$secondary-black: #171717;
$label-gray: #17171799;
$border-gray: #17171766;
$dash-border-gray: #999;
$light-border: #1717171A;
$light-border-gray: #ddd;
$dark-border-gray: #505050;
$icon-color: #6c757d;
$icon-hover-color: #f1f3f5;
$icon-active-color: #5f3dc4;